*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#ffffff;
    color:#222;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111;
    color:#fff;
    position:sticky;
    top:0;
}

.logo h2{
    color:#C8A85B;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    transition:.3s;
}

nav a:hover{
    color:#C8A85B;
}

.hero{
    height:90vh;
    background:linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url("https://images.unsplash.com/photo-1517849845537-4d257902454a?auto=format&fit=crop&w=1400&q=80");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
}

.hero-content{
    max-width:700px;
}

.hero h1{
    font-size:52px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:35px;
}

.btn{
    background:#C8A85B;
    color:white;
    padding:15px 35px;
    text-decoration:none;
    border-radius:40px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#111;
}

.about,
.collections,
.products{
    padding:80px 8%;
    text-align:center;
}

.about h2,
.collections h2,
.products h2{
    margin-bottom:30px;
    font-size:36px;
}

.cards{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    width:250px;
    background:#f7f7f7;
    padding:30px;
    border-radius:15px;
    transition:.3s;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    margin:15px 0;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:40px;
}

@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:15px;
}

nav a{
    display:block;
    margin:10px 0;
}

.hero h1{
    font-size:36px;
}

.hero p{
    font-size:17px;
}
.hero {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 8px black;
}

.hero-text h1 {
    font-size: 4rem;
}

.hero-text p {
    font-size: 1.5rem;
}
